    a[href*='https://aka.ms/getspmteamcommsite'] {
        display: none;
    }

    // remove simple footer advertising
    div[data-automationid="SimpleFooter"] {
        display: none !important;
        background-color: lime !important;
    }

    div[class*="teamifyBanner"] {
        display: none;
    }
